<#include "../include/header.html">
<script type="text/javascript">

    var viewModel = Hap.createGridViewModel("#grid",{
        model: {},
        saveFunction: function () {
            //调用表单校验器校验必输字段
            var b = $("#myForm").data("kendoValidator").validate();
            if (!b) {
                Hap.showToast({
                    type:"info",
                    message: $l('<@spring.message "头上存在必输字段未输！"/>')
                })
                return;
            }
            Hap.submitForm({
                url: '${base.contextPath}/hbi/demo/bank/submit',
                formModel: viewModel.model,
                grid: {"demoBankBranchList": $("#grid")},
                success: function (data) {
                    if (data.success) {
                        if(!bankId||bankId==0){
                            //回写主键
                            bankId=data.rows[0].bankId;
                        }
                        $('#grid').data('kendoGrid').dataSource.read();
                        Hap.showToast({
                            type:"success",
                            message: '<@spring.message "保存成功"/>'
                        });
                    }
                },
                failure:function (arg) {
                    Hap.showToast({
                        type:"error",
                        message: '<@spring.message "保存失败"/>'
                    });
                }
            });
        },
    });

    //银行主键
    var bankId = '${RequestParameters.bankId!0}';
    //查看标志
    var queryFlag='${RequestParameters.queryFlag!}';
    //初始化头部数据
    if(bankId){
        //如果存在headerId赋默认值
        viewModel.model.set("bankId",bankId);
        //获取头数据
        $.ajax({
            type   : "POST",
            url: "${/hap/om/order/headers/query",
            data: { bankId : bankId },
            success: function(json) {
                var row = json.rows[0] || {};
                for (var k in row) {
                    viewModel.model.set(k, row[k]);
                }
            }
        });
    }


    window.onload=function () {
      // form表单校验
      var validator = $("#myForm").kendoValidator({
          messages: {
              required: '<@spring.message "必输"/>'
          },
          rules: {
          }
      }).data("kendoValidator");

      if(queryFlag==1){
          onlyView()
      }
    }

    //仅查看
    function onlyView(){
        //form不可编辑
        $("#bankCode").attr("readonly",true).css("background", "#EEEEEE");
        $("#bankName").attr("readonly",true).css("background", "#EEEEEE");
        $("#description").attr("readonly",true).css("background", "#EEEEEE");
        $("#comments").attr("readonly",true).css("background", "#EEEEEE");
        $("#bankType").data("kendoComboBox").enable(false);
        $("#expirationDate").data("kendoDatePicker").readonly();
        $("#expirationDate").css("background", "#EEEEEE");
        //grid不可编辑
        $("#grid").data("kendoGrid").setOptions({
            editable: false
        });
        //隐藏按钮
        $("#toolbar").hide();
    }

</script>
<style>
    /*表格标题居中显示*/
    .k-grid th{
        text-align: center!important;
    }
    /*表格列居中*/
    .k-grid tr{
        text-align: center!important;
    }
</style>
<body>
<script src="${base.contextPath}/common/code?bankTypeData=HBI.DEMO.BANK_TYPE" type="text/javascript"></script>
<div id="page-content">
    <div class="panel" id="query-form" style="padding: 0px;border:none;box-shadow: none;">
        <form class="form-horizontal" id="myForm">
            <div class="panel-body">
                <div class="row">
                    <!--银行简码-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "银行简码"/></label>
                            <div class="col-xs-8">
                                <input id="bankCode" name="bankCode" required type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.bankCode" class="k-textbox">
                                <div style="position:absolute;z-index: 2;left:90%;top:-2px;"><span data-for="bankCode" class="k-invalid-msg" ></span></div>
                            </div>
                        </div>
                    </div>
                    <!--银行名称-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "银行名称"/></label>
                            <div class="col-xs-8">
                                <input id="bankName" name="bankName" required type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.bankName" class="k-textbox">
                                <div style="position:absolute;z-index: 2;left:90%;top:-2px;"><span data-for="bankName" class="k-invalid-msg" ></span></div>
                            </div>
                        </div>
                    </div>
                    <!--银行类型-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "类型"/></label>
                            <div class="col-xs-8">
                                <input id="bankType" name="bankType" required type="text" style="width:150px;margin-right:5px;" data-bind="value:model.bankType">
                                <div style="position:absolute;z-index: 2;left:90%;top:-2px;"><span data-for="bankType" class="k-invalid-msg" ></span></div>
                            </div>
                            <script>
                                $("#bankType").kendoComboBox({
                                    dataSource: bankTypeData,
                                    valuePrimitive: true,
                                    dataTextField: "meaning",
                                    dataValueField: "value"
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--截止时间-->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "截止日期"/></label>
                            <div class="col-xs-8">
                                <input  id="expirationDate" style="width:150px;margin-right:5px;" data-bind="value:model.expirationDate">
                            </div>
                            <script>
                                $("#expirationDate").kendoDatePicker({
                                    format: "{0:yyyy-MM-dd}",
                                }).data("kendoDatePicker");
                            </script>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "描述"/></label>
                            <div class="col-xs-8">
                                <input id="description" type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.description" class="k-textbox">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><@spring.message
                                "备注"/></label>
                            <div class="col-xs-8">
                                <input id="comments" type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.comments" class="k-textbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div id="toolbar" class="col-xs-4">
                        <span class="btn btn-primary k-grid-add pull-left" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>
                        <span class="btn btn-success k-grid-save-changes" data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
                        <span class="btn btn-danger pull-left" data-bind="click:remove" style="float:left;"><@spring.message "hap.delete"/></span>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                    </div>
                </div>

            </div>
        </form>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hbi/demo/bank/branch/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hbi/demo/bank/branch/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hbi/demo/bank/branch/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hbi/demo/bank/branch/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return  Hap.prepareQueryParameter({"bankId":bankId}, options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "bankBranchId",
                fields: {
                    branchName: { validation: {required: true}},
                    branchType:{ validation: {required: true}},
                    branchNo: { validation: {required: true}},
                    address: { validation: {required: true}},
                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "branchName",
                title: '<@spring.message "分行名称"/>',
                width: 120
            },
                    {
                field: "branchType",
                title: '<@spring.message "分行类型"/>',
                width: 120,
                template: function (dataItem) {
                    var v = dataItem.branchType;
                    $.each(bankTypeData, function (i, n) {
                        if ((n.value || '') == (v || '')) {
                            v = n.meaning;
                            return false;
                        }
                    })
                    return v||'';
                },
                editor: function (container, options) {
                    $('<input id="' + options.field + '" required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoComboBox({
                            dataTextField: "meaning",
                            dataValueField: "value",
                            valuePrimitive: true,
                            dataSource: bankTypeData
                        })
                }

            },
                    {
                field: "branchNo",
                title: '<@spring.message "联行号"/>',
                width: 120
            },
                    {
                field: "swiftCode",
                title: '<@spring.message "swiftCode"/>',
                width: 120
            },
                    {
                field: "address",
                title: '<@spring.message "地址"/>',
                width: 120
            },
                    {
                field: "description",
                title: '<@spring.message "说明"/>',
                width: 120
            },
                    {
                field: "expirationDate",
                title: '<@spring.message "截止日期"/>',
                width: 120,
                format: "{0:yyyy-MM-dd}",
                editor: function(container, options){
                    //获得开始时间
                    var opts={
                        format:"yyyy-MM-dd"
                    }
                    $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDatePicker(opts);
                }
            },
                    {
                field: "comments",
                title: '<@spring.message "备注"/>',
                width: 120
            },
        ],
        editable: true
    });

</script>
</body>
</html>